body {
  background-color: #6b38fb;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 25vw;
  padding: 3vw; 
  color: #6b38fb;
  background-color: #ffffff;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  max-height: 80vh;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.container::-moz-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.container::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.container::-moz-scrollbar-thumb:hover {
  background-color: #555;
}

h2 {
  margin-top: 0;
  font-size: 2vw;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 2vw; 
  border: 1px solid #cccccc;
  border-radius: 4px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.options label {
  display: block;
  padding: 1vw;
  background-color: #6b38fb;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options input[type="radio"] {
  display: none;
}

.options input[type="radio"]:checked + label {
  background-color: #333333;
}

.register-button {
  display: block;
  width: 92%;
  padding: 20px;
  background-color: #6b38fb;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 25px;
  transition: transform 0.5s ease-in-out;
  font-size: 20px;
  text-decoration: none;
}

.register-button:hover {
  transform: scale(1.1) translateY(-10px);
}

.animated-label {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.animated-label input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333333;
  transition: border-color 0.3s;
}

.animated-label input:focus {
  border-color: #6b38fb;
}

.animated-label span {
  position: absolute;
  left: 10px;
  top: -20px;
  pointer-events: none;
  transition: all 0.3s;
  font-size: 14px;
  color: #6b38fb;
  font-weight: bold;
}

.animated-label input:focus ~ span,
.animated-label input:not(:placeholder-shown) ~ span {
  transform: translateY(-20px);
}
